b00063874_szabolcs_kovacs_lab1/SCHEMA/XML.xml2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://sabi11.ddns.net/locationTime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="holidaytype" type="xs:string"/>
  <xs:element name="bookingdate" type="xs:string"/>
  <xs:element name="duration" type="loc:durationType" xmlns:loc="http://sabi11.ddns.net/locationTime"/>
  <xs:complexType name="durationType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="xs:string" name="departure"/>
      <xs:element type="xs:string" name="arrival"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>